.font1{
    font-family: QueenInlineGrunge;
    color: white;
}
.font2{
    font-family: kingthings Organic;
    color: white;
}
.fontE{
    font-family: QueenInlineGrunge;
}
.font2{
    font-family: kingthings Organic;
}